@import url('https://fonts.googleapis.com/css2?family=Raleway+Dots&display=swap');

.header {
  // @extend %module;
  text-decoration: none;
  height: 70px;
  @include transition(all 0.3s ease);
  background: DarkCyan;
  &:hover {
    background: LightCyan;
    a {
      color: grey;
    }
  }
  &::before {
    content: "";
    display: block;
  }
  a {
    text-decoration: none;
    color: white;
  }
  > h1 {
    // @include transform(rotate(90deg));
    // border-bottom: 1px solid white;
    font-family: 'Raleway Dots', cursive;
    padding-top: 10px;
    text-align: center;
  }
}
